doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='public/css/index.css')
  body
    if(email === undefined)
      h2 Hello Stranger
      a.signup(href='/signup') Sign Up
      a.login(href='/login') Log In
    if(email)
      h2 Welcome back, #{email}!
