doctype html
html
  head
    meta(charset='utf-8')
    title
  body
    h2 All the cool login stuff goes here.
    form(action='/login', method='post')
      input(type='text', placeholder='Email Address', name='email')
      input(type='text', placeholder='Password', name='password')
      input(type='submit', value='Log In')
    if(message)
      h2 #{message}
